*, *:before, *:after {
  box-sizing: border-box;
} 
*body{
	margin: 0;
}
body,html{
	background: #fcf7f1;
}
/* font rules */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
h1,h2,h3,h4,h5,p,li {
	font-family: "Oxygen", sans-serif;
	font-weight: 300;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {font-size: 1.5rem;
}
h4 {font-size: 1.25rem;
}
h5 {font-size: 1rem;
}
a{
	font-family: "raleway",sans-serif;
	text-decoration: none;
	color:white;
}
/*.right{
	float:right;
}*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color:transparent;
  color:#f63a3a;
  cursor: pointer;
}
.hvr-icon:hover{
	color:#8e6248;
	cursor: pointer;
}


.mobile-menu-wrapper{
	border-top:1px solid rgba(135, 73, 1,0.3);
	position: fixed;
	bottom:0;
	background:#fffcf8;
	width: 100%;
	z-index: 10;
}
.mobile-menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.menu-item{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
.menu-item i{
	padding: 4px;
}

.mobile-menu p{
	font-size: 0.5rem;
}
.menu-wrapper{
	display: none;
}
.header-wrapper{
	position: relative;
	height: 100vh;
	width: 100vw;
	background:url("images/bridge.jpg")no-repeat center;
	background-size: cover;
}
.header-wrapper a{
	color:rgba(135, 73, 1, 0.8);
	font-size: 1.2rem;
}
.header-wrapper a:hover {
	color:#6c5134;
}
.menu{
	display: flex;
	justify-content: flex-end;
	margin-top:20px;
}
.menu li{
	color:#42f445;
	margin: 10px;
}
.menu li:hover{
	font-weight: 500;
}
.header-title{
	width:80%;
	position: absolute;
    top: 20%;
    left: 10%;
}
.header-title .name{
	font-size:1.8rem;
	letter-spacing: 2px;
	font-weight: 500;
	color:black;
}
.header-title .web-dev{
	font-size: 1.1rem;
	font-weight: 300;
	color:#9e7620;
}
.about{
	width: 80%;
	margin: 10% auto;
}
.about h2{
	text-align: center;
}
.my-image{
	padding:10px;
	width: 40%;
	height: 35vh;
	margin: 0 auto;
	border-radius:50px;
	background: url("images/face.png")center/contain no-repeat;
}
.about-text{
	padding:20px;
}
.skills{
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.skills-wrapper{
	height: 92vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.title{
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 4rem;
}
.skills-icons{
	display: block;
	font-size: 4rem;
	margin: 15px;
	color:#f9b74d;
}
.project-item{
	width: 100%;
	margin-bottom:30px;
}
.project-item h2{
	text-align: center;
}
.project{
	width: 100%;
}

.project-description{
	width: 90%;
	margin: 10px auto;
}
.project-responsive{
	margin:10px auto;
}
.desctop{
	margin: 0 auto;
	width:300px;
	height: 240px;
	background: url("images/macbook.png")center/contain no-repeat ;
	position:relative;
}
.tablet{
	width:100px;
	height:170px;
	background: url("images/ipad.png")center/cover no-repeat ;
	position: absolute;
	bottom:0;
	right:0;
}
.mobile{
	width: 100px;
	height: 120px;
	background: url("images/iphone.png")center/contain no-repeat ;
	position: absolute;
	bottom:6%;
	left:-4%;
}
.desctop-img{
	height: 140px;
	width: 226px;
	z-index:0;
	position: absolute;
	top:17%;
	left:12.6%;
	overflow: hidden;
}
.tablet-img{
	height: 108px;
	width: 82px;
	z-index: 5;
	position: absolute;
	top:18.5%;
	left:9%;
	overflow: hidden;
}
.mobile-img{
	height: 84px;
	width: 47px;
	z-index: 5;
	position: absolute;
	top:15%;
	left:27%;
	overflow: hidden;
}

.project1 .desctop-background{
	background: url("images/nyt-desctop.png")center/cover no-repeat ;
}
.project1 .tablet-background{
	background: url("images/nyt-tablet.png")center/cover no-repeat ;
}
.project1 .mobile-background{
	background: url("images/nyt-mobile.png")center/cover no-repeat ;
}

.project2 .desctop-background{
	background: url("images/aloha-desktop.png")center/cover no-repeat ;
}
.project2 .tablet-background{
	background: url("images/aloha-tablet.png")center/cover no-repeat ;
}
.project2 .mobile-background{
	background: url("images/aloha-mobile.png")center/cover no-repeat ;
}

.project3 .desctop-background{
	background: url("images/best-buy-desktop.png")center/cover no-repeat ;
}
.project3 .tablet-background{
	background: url("images/best-buy-tablet.png")center/cover no-repeat ;
}
.project3 .mobile-background{
	background: url("images/best-buy-mobile.png")center/cover no-repeat ;
}
.project4 .desctop-background{
	background: url("images/best-buy-desktop.png")center/cover no-repeat ;
}
.project4 .tablet-background{
	background: url("images/best-buy-tablet.png")center/cover no-repeat ;
}
.project4 .mobile-background{
	background: url("images/best-buy-mobile.png")center/cover no-repeat ;
}
.buttons-wrapper{
	display: flex;
	justify-content:center;
	margin-top:20px;
}
.btn{
	display: inline-block;
	width: 105px;
	background:#8e6248;
	border:none;
	color:white;
	padding:10px 5px;
	font-size:0.8rem;
	margin:10px 5px;
}
.footer-wrapper{
	position: relative;
	background:rgba(135, 73, 1,0.3);
	width: 100%;
	height: 94vh;
	margin-top:50px;
	margin-bottom:45px;
	padding: 25px;
	font-size: 1.1rem;
}
.footer-wrapper h3{
	line-height: 3rem;
	letter-spacing: 3px;
	font-weight: 800;
}
.footer-wrapper .icons-wrapper{
	width: 100%;
	height: 10vh;
	display:flex;
	justify-content: flex-start;
}
.icons-wrapper i{
	margin-right:25px;
	margin-top:25px;
}
.footer-input{
	font-family: "Oxygen", sans-serif;
	font-weight:300;
	background: transparent;
	border:none;
	border-bottom: 2px solid #8e6248;
	color:black;
	width: 100%;
	margin-bottom: 20px;
	font-size: 1rem;
}
input::-webkit-input-placeholder{
	color: white !important;
	font-family: "Oxygen", sans-serif;
	font-size: 1rem;
	font-weight:300;
}
 
input:-moz-placeholder{
	color: white !important;
	font-family: "Oxygen", sans-serif;
	font-size: 1rem; 
	font-weight:300; 
}
 
input::-moz-placeholder{  
	color: white !important;
	font-family: "Oxygen", sans-serif; 
	font-size: 1rem; 
	font-weight:300;
}
 
input:-ms-input-placeholder{  
color: white !important;
font-family: "Oxygen", sans-serif; 
font-size: 1rem; 
font-weight:300;
}
input::placeholder{
	color: white !important;
font-family: "Oxygen", sans-serif; 
font-size: 1rem; 
font-weight:300;
}

.footer-message{
	display: block;
	height: 20vh;
	width: 100%;

}
.submit-btn{
	display: block;
	width: 100%;
	background: transparent;
	border: 2px solid #8e6248;
	color: white;
	margin: 0 auto;
	font-size: 1rem;
	font-weight:300;
	padding: 12px;
}

.signuture{
	position: absolute;
	bottom:5px;
	left: 5px;
}
.signuture p{
	font-size: 0.6rem;
	font-weight: 700;
}	

 /*TABLET STYLES*/
@media screen and (min-width: 600px) and (max-width: 1050px){
	.menu-wrapper{
		display: flex;
		justify-content: flex-end;
		margin-right: 2%;
	}
	.mobile-menu-wrapper{
		display: none;
	}
	.header-title{
		width: 60%;
		margin:0 10%;
	}
	.header-title .name{
		font-size:2.5rem;
	}
	.header-title .web-dev{
		font-size: 1.7rem;
	}
	.skills{
		margin: 0 auto;
		width: 90%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.skills-wrapper{
		height: 100vh;
	}
	.title{
	font-size: 2.0rem;
	line-height:8rem;
	}
	.skills-icons{
		font-size: 5rem;
		margin: 18px;
	}	
	.project-responsive{
		width: 100%;
	}
	.desctop{
		width: 550px;
		height: 332px;
	}
	.desctop-img {
    height: 258px;
    width: 413px;
    top: 6%;
    }
    .tablet {
    width: 168px;
    height: 306px;
    bottom: -16px;
    right: -13px;
	}
	.tablet-img {
    height: 196px;
    width: 147px;
    z-index: 10;
    top: 18%;
    left: 6%;
	}
	.mobile {
    width: 88px;
    height: 177px;
    bottom: 4%;
    left: 0%;
	}
	.mobile-img {
    height: 124px;
    width: 70px;
    top: 15%;
    left: 10%;
	}
	.project-description{
		width: 80%;
	}
	.footer-wrapper{
		margin:0;
		height: 100vh;
		display:flex;
		justify-content: space-around;
		align-items:center;
	}
	.footer-wrapper h3{
		font-weight: 800;
	}
	.footer-wrapper form{
		width: 40%;
	}
	.footer-text{
		margin-top:-25%;
	}
	.footer-text p {
		font-size: 1.4rem;
		line-height: 2rem;
	}
	.icons-wrapper i{
		font-size: 2em;
	}
	.signuture{
	bottom:10px;
	left: 10px;
	}
	.signuture p{
	font-size: 0.6rem;
	}	
	
	
}

/*DESCTOP STYLES*/
@media screen and  (min-width: 1051px){
	.menu-wrapper{
		display:flex;
		justify-content: flex-end;
		margin-right: 2%;
	}
	.mobile-menu-wrapper{
		display: none;
	}
	.skills-wrapper{
		height: 100vh;
	}
	.title{
	font-size: 2.4rem;
	line-height: 10rem;
}

	.skills-icons{
		font-size: 6rem;
		margin: 50px;
	}	
	.project{
		align-items: center;
		justify-content: center;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.row-reverse{
		display: flex;
		flex-direction: row-reverse;
	}
	.header-title{
	margin:0 8%;
	}
	.header-title .name{
		font-size:2.8rem;
	}
	.header-title .web-dev{
		font-size: 1.8rem;
	}
	
	.project-responsive{
		width: 65%;
		margin: 0;
	}
	.project-description{
		width: 30%;
		margin:0;
		
	}
	.desctop{
		width: 750px;
        height: 453px;
	}
	.desctop-img{
	    height: 352px;
	    width: 562px;
	    top: 6%;
	    left: 12.6%;
	}
	.tablet {
    width: 215px;
    height: 392px;
    bottom: -20px;
	}
	.tablet-img{
		height: 252px;
	    width: 187px;
	    top: 18%;
	    left: 6%; 
	}
	.mobile {
    width: 126px;
    height: 253px;
    background: url(images/iphone.png)center/contain no-repeat;
    position: absolute;
    bottom: 4%;
    left:0;
	}
	.mobile-img{
	height: 174px;
    width: 100px;
    z-index: 10;
    position: absolute;
    top: 16%;
    left:10.2%;
    overflow: hidden;
	}
	.footer-wrapper{
		margin:0;
		height: 100vh;
		display:flex;
		justify-content: space-around;
		align-items: center;
	}
	.footer-wrapper h3{
		font-weight: 800;
	}
	.footer-wrapper form{
		width: 37%;
	}
	.footer-text{
		margin-bottom:20%;
	}
	.footer-text p {
		font-size: 1.4rem;
		line-height: 2rem;
	}
	.icons-wrapper i{
		font-size: 2em;
	}
	.signuture{
	bottom:5px;
	left: 5px;
	}
	.signuture p{
	font-size: 0.6rem;
	}	
	
}

















