*, *:before, *:after {
  box-sizing: border-box;
} 
*body{
	margin:0;
}
body,html{
	background: #fcf7f1;
}
/* font rules */
h1,h2,h3,h4,h5,p,li {
	font-family:"Oxygen",sans-serif;
	font-weight: 300;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 0.75rem;
}

a{
	font-family: "raleway",sans-serif;
	text-decoration: none;
	color:white;
}
.display-n{
	display: none;
}

#overlay{
	overflow-x: hidden;
	background:#fcf7f1;
	position: fixed;
	top:0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 99;
	display: none;
}
.uppercase{
	text-transform:uppercase;
}

.hvr-grow{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color:transparent;
  color:#f63a3a;
  cursor: pointer;
}
.hvr-icon:hover{
	color:#8e6248;
	cursor: pointer;
}
.menu-wrapper{
	z-index: 100;
	position: relative;
}
.hamburger{
	margin: 20px;
}
.hamburger:hover{
	cursor: pointer;
}
#close{
	margin: 20px;
}
#close:hover{
	cursor: pointer;
}
.header-wrapper{
	height: 100vh;
	width: 100%;
	background:url("images/bridge.jpg")no-repeat center;
	background-size: cover;
}
.header-wrapper a{
	color:#b3a38a;
	font-size: 1.2rem;
}
.header-wrapper a:hover {
	color:#6c5134;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.menu li{
	margin: 20px 10px;
}
.menu li:hover{
	font-weight: 500;
}
.header-title{
	width:80%;
	position: absolute;
    top: 20%;
    left: 10%;
}
.header-title .name{
	font-size:1.8rem;
	letter-spacing: 2px;
	font-weight: 500;
	color:black;
}
.header-title .web-dev{
	font-size: 1.1rem;
	font-weight: 300;
	color:#9e7620;
}
.about{
	width: 80%;
	margin: 10% auto;
}
.about h2{
	text-align: center;
}
.my-image{
	padding:10px;
	width:180px;
	height:240px;
	margin: 0 auto;
	border-radius:50px;
}
.my-image img{
	width: 100%;
}
.about-text{
	padding:20px;
	text-align: center;
}
.skills{
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
}
.skills-wrapper{
	height: 92vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
section h2{
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 4rem;
	text-transform: uppercase;
}

.skills-icons{
	display: block;
	font-size: 4rem;
	margin: 15px;
	color:#f9b74d;
}
.project-item{
	width: 100%;
	margin-bottom:30px;
}
.project-item h2{
	text-align: center;
}
.project{
	width: 100%;
}

.project-description{
	width: 90%;
	margin: 10px auto;
}
.project-description h4{
	font-weight: 500;
	line-height: 3rem;
}
.technologies-used{
	display: flex;
	justify-content: flex-start;
}
.technologies-used li{
	font-size: 0.9rem;
	margin:10px 9px 10px 0px ;
	font-weight: 500;
	color:#f9b74d;;
}
.project-responsive{
	margin:10px auto;
}
.desctop{
	margin: 0 auto;
	width:300px;
	height: 240px;
	background: url("images/macbook.png")center/contain no-repeat ;
	position:relative;
}
.tablet{
	width:100px;
	height:170px;
	background: url("images/ipad.png")center/cover no-repeat ;
	position: absolute;
	bottom:0;
	right:0;
}
.mobile{
	width: 100px;
	height: 120px;
	background: url("images/iphone.png")center/contain no-repeat ;
	position: absolute;
	bottom:6%;
	left:-4%;
}
.desctop-img{
	height: 140px;
	width: 226px;
	z-index:0;
	position: absolute;
	top:17%;
	left:12.6%;
	overflow: hidden;
}
.desctop-img img{
	width: 100%;
}
.tablet-img{
	height: 108px;
	width: 82px;
	z-index: 5;
	position: absolute;
	top:18.5%;
	left:9%;
	overflow: hidden;
}
.tablet-img img{
	width: 100%;
}
.mobile-img{
	height: 84px;
	width: 47px;
	z-index: 5;
	position: absolute;
	top:15%;
	left:27%;
	overflow: hidden;
}
.mobile-img img{
	width: 100%;
}
.buttons-wrapper{
	display: flex;
	justify-content:center;
	margin-top:20px;
}
.btn{
	text-align: center;
	width: 105px;
	background:#8e6248;
	border:none;
	color:white;
	padding:10px 5px;
	font-size:0.8rem;
	margin:10px 5px;
}
.contact-wrapper{
	background:rgba(135, 73, 1,0.3);
	min-height: 95vh;
	width: 100%;
	margin-top:50px;
	padding: 25px;
	font-size: 1.1rem;
}
.contact-wrapper h3{
	line-height: 3rem;
	letter-spacing: 3px;
	font-weight: 800;
	color: black;
}
.icons-wrapper{
	width: 100%;
	margin:20px 20px 20px 0;
	display:flex;
	justify-content: flex-start;
}
.icons-wrapper li{
	margin-right: 20px;
}
.contact-input{
	font-family: "Oxygen", sans-serif;
	font-weight:300;
	background: transparent;
	border:2px solid #8e6248;
	width: 95%;
	margin-bottom: 20px;
	font-size: 1rem;
	color:black;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
	color: black !important;
	font-family: "Oxygen", sans-serif;
	font-size: 1rem;
	font-weight:300;
	padding: 5px;
} 
input::-moz-placeholder, textarea::-moz-placeholder{  
	color: black !important;
	font-family: "Oxygen", sans-serif; 
	font-size: 1rem; 
	font-weight:300;
	padding: 5px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{  
	color: black !important;
	font-family: "Oxygen", sans-serif; 
	font-size: 1rem; 
	font-weight:300;
	padding: 5px;
}
input::placeholder, textarea::placeholder{
	color: black !important;
	font-family: "Oxygen", sans-serif; 
	font-size: 1rem; 
	font-weight:300;
	padding: 5px;
}

.contact-message{
	display: block;
	height: 20vh;
	width: 95%;
}
.submit-btn{
	width: 95%;
	background: transparent;
	border: 2px solid #8e6248;
	color: white;
	font-size: 1rem;
	font-weight:300;
	padding: 12px;
}

.signuture{
	background:rgba(135, 73, 1,0.3);
}
.signuture h5{
	margin: 2%;
    display: inline-block;
}

 /*TABLET STYLES*/
@media screen and (min-width: 600px) and (max-width: 1050px){
	i.hamburger{
	display: none;
	}
	.menu-wrapper{
		display: flex;
		justify-content: flex-end;
		margin-right: 2%;
	}
	.menu{
		flex-direction: row;
	}
	
	.header-title{
		width: 60%;
		margin:0 10%;
	}
	.header-title .name{
		font-size:2.5rem;
	}
	.header-title .web-dev{
		font-size: 1.7rem;
	}
	.about{
		margin: 50px auto;
	}
	.skills{
		margin: 0 auto;
		width: 90%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.skills-wrapper{
		margin: 150px auto;
		height: auto;
		max-width: 770px;
	}
	.skills-icons{
		font-size: 5rem;
		margin: 18px;
	}
	.project-item{
		margin-bottom: 90px;
	}	
	.project-responsive{
		width: 100%;
	}
	.desctop{
		width: 550px;
		height: 332px;
	}
	.desctop-img {
    height: 258px;
    width: 413px;
    top: 6%;
    }
    .tablet {
    width: 168px;
    height: 306px;
    bottom: -16px;
    right: -13px;
	}
	.tablet-img {
    height: 196px;
    width: 147px;
    z-index: 10;
    top: 18%;
    left: 6%;
	}
	.mobile {
    width: 88px;
    height: 177px;
    bottom: 4%;
    left: 0%;
	}
	.mobile-img {
    height: 124px;
    width: 70px;
    top: 15%;
    left: 10%;
	}
	.project-description{
		width: 80%;
	}
	.contact-wrapper{
		margin:0;
		height: 100vh;
		display:flex;
		justify-content: space-around;
		align-items:center;
	}
	.contact-wrapper h3{
		font-weight: 800;
	}
	.contact-wrapper form{
		width: 40%;
	}
	.contact-text{
		margin-top:-20%;
	}
	.contact-text p {
		font-size: 1.4rem;
		line-height: 2rem;
	}
	.icons-wrapper i{
		font-size: 2em;
	}
	
	
	
	
}

/*DESCTOP STYLES*/
@media screen and  (min-width: 1051px){
	i.hamburger{
		display: none;
	}
	.menu-wrapper{
		display:flex;
		justify-content: flex-end;
		margin-right: 2%;
	}
	.menu{
		flex-direction: row;
	}
	.about-text{
		max-width: 800px;
		margin: 0 auto;
	}
	
	.skills-wrapper{
		height:auto;
		max-width: 1300px;
		margin: 110px auto;
	}
	.skills-icons{
		font-size: 6rem;
		margin: 20px 50px;
	}
	.skills-icons h5{
		margin-bottom: 20px;
	}	
	.project{
		align-items: center;
		justify-content: center;
	}
	.row{
		display: flex;
		flex-direction: row;
	}
	.row-reverse{
		display: flex;
		flex-direction: row-reverse;
	}
	.header-title{
	margin:0 8%;
	}
	.header-title .name{
		font-size:2.8rem;
	}
	.header-title .web-dev{
		font-size: 1.8rem;
	}
	
	.project-responsive{
		width: 750px;
		margin: 25px;
	}
	.project-description{
		width: 25%;
		margin:25px;
		
	}
	.desctop{
		width: 750px;
        height: 453px;
	}
	.desctop-img{
	    height: 352px;
	    width: 562px;
	    top: 6%;
	    left: 12.6%;
	}
	.tablet {
    width: 215px;
    height: 392px;
    bottom: -20px;
	}
	.tablet-img{
		height: 252px;
	    width: 187px;
	    top: 18%;
	    left: 6%; 
	}
	.mobile {
    width: 126px;
    height: 253px;
    background: url(images/iphone.png)center/contain no-repeat;
    position: absolute;
    bottom: 4%;
    left:0;
	}
	.mobile-img{
	height: 174px;
    width: 100px;
    z-index: 10;
    position: absolute;
    top: 16%;
    left:10.2%;
    overflow: hidden;
	}
	.contact-wrapper{
		margin:0;
		height: 96vh;
		display:flex;
		justify-content: space-around;
		align-items: center;
	}
	.signuture h5{
		margin: 1%;
	}
	.contact-wrapper h3{
		font-weight: 800;
	}
	.contact-wrapper form{
		width: 37%;
	}
	.contact-text{
		margin-bottom:20%;
		line-height: 1.7rem;
    	letter-spacing: 1px;
	}
	.icons-wrapper i{
		font-size: 2em;
	}
		
	
}

















